.searchBar {
    font-size: 32px;
    padding: 5px 10px;
    min-width: 320px;
    min-height: 60px;
}
.recipeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*max-width: 300px;*/
    min-height: 480px;
    margin: 20px 0 50px;
    padding: 30px 0;
    flex-basis: 30%;
    border: 1px solid #b4b4b4;
    border-radius: 1em;
}

.recipe > p {
    margin: 0;
}
.recipeHeading {
    margin: 0;
}
.recipeImg {
    max-width: 310px;
    margin: 0 auto;
}