.searchBar {
    font-size: 32px;
    /*padding: 5px 10px;*/
    min-width: 280px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 60px;
    text-align: center;
}
.recipeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recipe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*max-width: 300px;*/
    min-height: 480px;
    margin: 20px 0 50px;
    padding: 30px 0 0;
    flex-basis: 20%;
    border: 1px solid #b4b4b4;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.recipe > p {
    margin: 0;
}
.recipeHeading {
    margin: 0;
}
.recipeImg {
    max-width: 310px;
    margin: 0 auto;
}
.btnDescription {
    width: 300px;
    min-height: 50px;
    border: 1px solid lightblue;
    text-transform: uppercase;
}
.btnDescription:focus-within {
    outline: none;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.modalSwitch {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: none;
}

.modalListContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 70%;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
}
.modalListItem {
    display: block;
    font-size: 1rem;
    text-align: left;
    margin: 5px 0;
}